
body {
    text-align: center;
    background-color: rgba(0,0,0,0.466);
    background-image: url(img/bela-galaxia-de-cor-vermelha.jpeg);  
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}


p{
    text-align: center;
    font-size: 20px;
    text-align:center;
    
}


.container{
    display: flex; /*faz os elementos ficarem lado a lado*/
    justify-content: center; /* centraliza os elementos na horizontal */
    align-items: center; 
  

}

.card {
    border-radius: 10px; /* Deixa a borda levemente arredondada*/
    box-shadow: 7px 7px 13px 0px; /*  dar sombreamento aos elementos*/
    margin: 20px; /*espaçamento externo*/
    width: 300px; /*largura*/
    transition: all 0.3s ease-out; /*efeito de animação*/
    background-image: linear-gradient(to bottom right, rgb(241,137,137),rgb(184,177,250));
  
    
}

.imagens{
    width: 300px; /* largura*/
    height: 200px; /* altura*/
    border-radius: 8px;
    
    
}


.card:hover{
    transform: translateY(-10px); /*muda o movimento quando passa o mouse (y pq muda na vertical)*/
    cursor: pointer; /* muda o curso do mouse*/  
   
}

