body{
    background-color: #e5b4bb;
    
    
  
}

p{
    text-align: center;
}



.principal{
    display: flex; /*faz os elementos ficarem lado a lado*/
    justify-content: center; /* centraliza os elementos na horizontal */
    align-items: center; 
   
    

}

.card {
    border-radius: 5px; /* Deixa a borda levemente arredondada*/
    box-shadow: 7px 7px 13px 0px; /*  dar sombreamento aos elementos*/
    padding: 30px; /* espaçamento interno do elemento*/
    margin: 20px; /*espaçamento externo*/
    width: 400px; /*largura*/
    transition: all 0.3s ease-out; /*efeito de animação*/
    background-color: #ead9d4;
    
}

.img-simpsons{
    width: 200px; /* largura*/
    height: 400px; /* altura*/
    border-radius: 5px;

}


/* mudanças de estado da pagina(hover:flutuar) */
.card:hover{
    transform: translateY(-10px); /*muda o movimento quando passa o mouse (y pq muda na vertical)*/
    background-color: #edede3; /*muda a cor quando passa o mouse*/
    cursor: pointer; /* muda o curso do mouse*/  
}

.card h2{
    
    text-align: center;
    
    
}

