

.bolsa{
    color: rgb(16, 84, 211);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


.botao{
    margin-top: 5px;
    
    
}

.tab{
    border-color: black;
    background: orange;

}
