
.linha{
    border-color: darkgrey;
    

}

.libertadores{
    color: darkgreen;
    cursor: pointer; /* muda o curso do mouse*/ 
    
    

    
}

.copa{
    color: coral;
    cursor: pointer; /* muda o curso do mouse*/
    
    
}

.rebaixamento{
    color: crimson;
    cursor: pointer; /* muda o curso do mouse*/
  
}

.copa-2{
    cursor: pointer; /* muda o curso do mouse*/
}

